<section class="ui blue segment">
	<h1>Welcome to Digital World 2.1</h1>
	<nav class="ui stacked blue segment">
		<ul>
			<li class="<%= current.source=='index'?'selected':'' %>"><a href="/index.html">Home</a></li>
			<li class="<%= current.source=='adventure'?'selected':'' %>"><a href="/strands/adventure.html">Adventure</a></li>
			<li class="<%= current.source=='zero-two'?'selected':'' %>"><a href="/strands/zero-two.html">Zero Two</a></li>
			<li class="<%= current.source=='tamers'?'selected':'' %>"><a href="/strands/tamers.html">Tamers</a></li>
			<li class="<%= current.source=='frontier'?'selected':'' %>"><a class="stackable" href="/strands/frontier.html">Frontier</a></li>
			<li class="<%= current.source=='savers'?'selected':'' %>"><a href="/strands/savers.html">Data Squad</a></li>
			<li class="<%= current.source=='fusion'?'selected':'' %>"><a href="/strands/fusion.html">Fusion</a></li>
			<li class="<%= current.source=='tri'?'selected':'' %>"><a href="/strands/tri.html">tri.</a></li>
			<li class="<%= current.source=='appli'?'selected':'' %>"><a href="/strands/appli.html">Appli Monsters</a></li>
			<li class="<%= current.source=='contact'?'selected':'' %>"><a href="/strands/contact.html">Contact</a></li>
		</ul>
	</nav>
</section>